.events-card-row {
  display: flex;
  width: 100%;
}

.events-card {
  position: relative;
  background-color: #DFDFDF;
  border-radius: 5px;
  height: 250px;
  width: 150px;
  margin: 10px;
}

.events-image-full {
  width: inherit;
  height: 150px;
}

.events-edit-close {
  text-align: right;
  padding: 5px;
  font-size: 12px;
}

.icon-selected {
  color: #007bff;
}

.events-card-name {
  text-align: center;
  padding: 0 5px 5px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.events-card-description {
  padding: 5px;
  font-size: 12px;
  text-align: justify;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.events-card-footer {
  width: inherit;
  padding: 5px;
  position: absolute;
  top: 220px;
  overflow: hidden;
}
.events-card-wtb { /*want to buy*/
  float: left;
  width: 66%;

  text-align: left;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.events-card-price {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.events-image-name-only {
  width: inherit;
  height: 150px;
  vertical-align: middle;
}
.events-card-name-only {
  display: table-cell;
  height: 100px;
  width: 150px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
