.mycard-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.mycard {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0.5px solid;
  z-index: 10;
  height: 250px;
  width: 152px;
  margin: 10px;
}

.icon-selected {
  color: #007bff;
}

.card-edit-close {
  text-align: right;
  padding: 5px;
  font-size: 12px;
  transform: translateY(-150px);
}
.card-edit-close span {
  cursor: "pointer";
}

.icon-selected {
  color: #007bff;
}

.card-name {
  text-align: center;
  padding: 0 5px 5px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(-18px);
}

.card-description {
  padding: 5px;
  font-size: 12px;
  text-align: justify;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateY(-18px);
}
.mycard-footer {
  width: 151px;
  padding: 5px;
  position: absolute;
  top: 220px;
  overflow: hidden;
}
.card-wtb { /*want to buy*/
  float: left;
  width: 66%;

  text-align: left;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-price {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-name-only {
  display: table-cell;
  height: 100px;
  width: 150px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.card-already-bought {
  background-color: #C0C0C0;
  opacity: 0.5;
}
