.mycard-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.mycard {
  position: relative;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #095228;
  z-index: 10;
  height: 275px;
  width: 152px;
  margin: 10px;
}
.mycard-no-limit {
  position: relative;
  background-color: #ffffff;
  z-index: 11;
  margin: 10px;
}

.card-edit-close {
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  width: 100%;
}

.icon-selected {
  color: #007bff;
}

.heart-selected {
  color: #ff0000;
}

.one-icon {
  width: 100%;
  display: inline-block;
  text-align: right;
}

.two-icon-first {
  width: 48%;
  display: inline-block;
  text-align: left;
  padding-left: 8px;
}
.two-icon-second {
  width: 49%;
  display: inline-block;
  text-align: right;
}

.three-icon-first {
  width: 20%;
  display: inline-block;
  text-aline: left;
}
.three-icon-second {
  width: 60%;
  display: inline-block;
  text-align: center;
}
.three-icon-third {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.secret-text {
  color: red;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
}

.secret-border {
  border-color: red;
}

.warning-border {
  border-color: orange;
}

.card-name {
  text-align: center;
  padding: 0 5px 5px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-description {
  padding: 5px;
  font-size: 12px;
  text-align: justify;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 3em;
}
.mycard-footer {
  width: 151px;
  padding: 5px;
  position: absolute;
  top: 245px;
  overflow: hidden;
}
.card-wtb {
  /*want to buy*/
  float: left;
  width: 66%;

  text-align: left;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-price {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-name-only {
  display: table-cell;
  height: 97px;
  width: 150px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.card-name-only-secret {
  display: table-cell;
  height: 69px;
  width: 150px;
  padding: 10px;
  text-align: center;
}

.card-already-bought {
  background-color: #c0c0c0;
  opacity: 0.5;
}

.warning-gift-delete {
  text-align: center;
  font-weight: bold;
}
