.main-home {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hello-home {
  flex-basis: 100%;
  text-align: center;
}

.home-card-center-bold {
  text-align: center;
  padding: 0 5px 5px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.home-card-center-no-bold {
  padding: 5px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
